.price-wrapper{
  position: relative; 
  display: inline-block;
}
.price-slash{
  position: relative;
  width: 100%;
  height: 0;
  border-top: 2px solid red;
  transform: rotate(-25deg);
  top: 17px;
}  