<ion-toolbar>
  <ion-item [routerLink] (click)="addProduct()"> 
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    <ion-label>Add Product</ion-label>
  </ion-item>
</ion-toolbar>
<ion-toolbar>
  <ion-item [routerLink] (click)="seeproducts()"> 
    <ion-icon name="cube-outline" slot="start"></ion-icon>
    <ion-label>Products</ion-label>
  </ion-item>
</ion-toolbar>
<ion-toolbar>
  <ion-item [routerLink] (click)="showAttributes()"> 
    <ion-icon name="code-slash-outline" slot="start"></ion-icon>
    <ion-label>Attributes</ion-label>
  </ion-item>
</ion-toolbar>
<ion-toolbar>
  <ion-item [routerLink] (click)="ShowDeleteConfirmAlert()"> 
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    <ion-label>Delete</ion-label>
  </ion-item>
</ion-toolbar>
<ion-toolbar>
  <ion-item [routerLink] (click)="edit()"> 
    <ion-icon name="create-outline" slot="start"></ion-icon>
    <ion-label>Edit</ion-label>
  </ion-item>
</ion-toolbar>
<ion-toolbar>
  <ion-item [routerLink] (click)="closePopover()"> 
  
    <ion-label>Cancel</ion-label>
  </ion-item>
</ion-toolbar>