<ion-menu  menuId="mainMenu" side="start" content-id="main-content">
  <ion-header>
<app-sidebar-top ></app-sidebar-top>
  </ion-header>
  <ion-content>
    <app-side-menu></app-side-menu>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
<app-top></app-top>
  </ion-header>
  <ion-content >
 <router-outlet></router-outlet>  
  </ion-content>
  <!-- <ion-tab-bar slot="bottom">
    <ion-tab-button tab="music">
      <ion-label>Music</ion-label>
      <ion-icon name="musical-note"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="movies">
      <ion-label>Movies</ion-label>
      <ion-icon name="videocam"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="games">
      <ion-label>Games</ion-label>
      <ion-icon name="game-controller"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar> -->
</div>

<!-- <router-outlet></router-outlet> -->